@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@100;300;400;500;700&display=swap');

body {
  background-color: hsl(0, 0%, 90%);
  font-family: 'Tomorrow', sans-serif;
}

h1 {
  margin-top: 1rem;
  padding-bottom: .5rem;
  font-size: 3rem;
  text-align: center;
}

h2 {
  margin-bottom: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-size: 2rem;
  text-align: center;
  box-shadow: 0px 10px 15px -5px hsl(0, 0%, 0%);
}

h3 {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.nominations {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: .5rem;
  padding: .5rem;
  border-radius: 5px;
  box-shadow: 2px 2px 5px -2px hsl(0, 0%, 50%);
  min-height: 5rem;
}

.search {
  margin-left: 10%;
  margin-right: 10%;
  padding: .5rem;
  border-radius: 5px;
  box-shadow: 2px 2px 5px -2px hsl(0, 0%, 50%);
}

.search form {
  margin-bottom: 1rem;
  padding-left: 2rem;
}

label {
  display: none;
}

input {
  font-family: 'Tomorrow', sans-serif;
}

input[type=text], input[type=submit] {
  background-color: hsl(0, 0%, 97%);
  padding: .25em;
  padding-left: .5em;
  padding-right: .5em;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px -2px hsl(0, 0%, 50%);

  font-size: 1rem;
}

input[type=text] {
  margin-right: .5rem;
  width: 50%;
}

ul {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.nominations > ul {
  justify-content: left;
}

.nominations > ul > li:first-child {
  margin-left: .5rem;
}

.nominations > ul > li {
  margin-right: 1rem;
}

.nominations > ul > li:last-child {
  margin-right: 0;
}

.movie-card {
  position: relative;
  flex: 1 0 calc(20% - 2rem);
  max-width: calc(20% - 2rem);
  margin-bottom: 1rem;
  padding: .5rem;
  padding-bottom: 2.25rem;
  border-radius: 5px;
  box-shadow: 0px 0px 5px -2px hsl(0, 0%, 50%);
}

.movie-card img {
  margin-left: 10%;
  width: 80%;
  border-radius: 3px;
  box-shadow: 2px 2px 5px -3px hsl(0, 0%, 50%);
}

.movie-card :last-child {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  font-family: 'Tomorrow', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  line-height: 2rem;
  border: none;
  border-radius: 5px;
  background-color: hsl(120, 60%, 45%);
}

.movie-card p:last-child {
  background-color: hsla(120, 60%, 45%, .5);
}